<mat-toolbar>
  <button (click)="onNavToggle()" mat-button>
    <mat-icon>menu</mat-icon>
  </button>
  @if(!mobileQueryMax){
  <h1>ระบบบริหารข้อมูลผู้ป่วย CKD Clinic</h1>
  } @else{<span>CKD</span>}
  <span class="flex-fill"></span>
  <div class="d-flex align-items-center">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <div class="vl"></div>
    <button mat-icon-button>
      <mat-icon [matBadge]="demoMailNoti" aria-hidden="false"
        >mail_outline</mat-icon
      >
    </button>

    <div class="vl"></div>
    <button mat-icon-button>
      <mat-icon
        aria-hidden="false"
        [matBadge]="demoNoti"
        [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()"
        >notifications_none</mat-icon
      >
    </button>
  </div>

  <button mat-button [matMenuTriggerFor]="menu">
    <img
      class="avatar rounded-circle bg-white"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/500px-Angular_full_color_logo.svg.png"
      alt=""
    />
    <span class="ml-2">Admin</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
