.example-card {
  max-width: 550px;
  margin: auto;
  //background: linear-gradient(135deg, #fddb92, #d1fdff);
  background-color: white;
}

.example-header-image {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

button {
  border-radius: 0;
}
